.home {
  &__form {
    padding-block: 1.5rem;
    &-text {
    }
  }
  // .leaflet-layer,
  // .leaflet-control-zoom-in,
  // .leaflet-control-zoom-out,
  // .leaflet-control-attribution {
  //   filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  // }
}

.teste {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
}
