.cardCustom {
  & .card {
    cursor: pointer;
    transition: all 0.2s;
    // border-color: rgba(10, 10, 10, 0.07);
    border: none;
    outline: 0.1rem solid rgba(10, 10, 10, 0.07);

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      outline: 0.1rem solid rgb(168, 205, 159);
      // transform: translate(0.1rem, -0.2rem);
      //   transform: scale(1.02);
    }
  }
}
